<footer>
    <div class="footerBox">
        <img src="/images/TechTVlogo.png" alt="Logotyp med en grön kurvig linje som bakgrund och texten 'Tech TV'.">
        <p>Tech TV</p>
        <p>Hittepågatan 69B</p>
        <p>420 69 Borås</p>
    </div>
    <div class="footerBox">
        <p><strong>Kontakt</strong></p>
        <p>TechTV@mail.se</p>
        <p>070 420 69 69</p>
    </div>
    <div class="footerBox">
        <p><a href="/about">Om oss</a></p>
        <p><a href="/graphics">Grafisk profil</a></p>
        <p><a href="">Jobba hos oss</a></p>
        <p><i class="fa fa-github" aria-hidden="false"></i> <span><a href="https://github.com/Frisaf/techtv-2.0" target="_blank">GitHub</a></span></p>
        <i class="fa fa-copyright" aria-hidden="true"></i> <span>Ash Säfsten 2025</span>
        <p><strong>DETTA ÄR INTE ETT RIKTIGT FÖRETAG. ALLTING SOM ÄR SKRIVET HÄR ÄR PÅ LÅTSAS. DETTA ÄR ETT SKOLARBETE</strong></p>
    </div>
</footer>