<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Tech TV</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
        <div class="mainContent">
            <div class="articleContent">
                {%- for tag in tags -%}
                    {%- if tag != "posts" -%}
                        <span class="articleDetails">{{ tag }}</span>
                    {%- endif -%}
                {%- endfor -%}
                {{ content }}
            </div>
        </div>
    </main>
</body>
</html>