<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Tech TV</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {% include "navbar.njk" %}
    <main>
        <div class="mainContent">
            {% if title == "Om oss" %}
                <div class="hero">
                    <img eleventy:ignore src="/images/about_hero.jpg" alt="Human hand reaching for robot hand">
                    <div class="heroText">
                        <h1>Tech TV</h1>
                        <p>Din tekniktidning överallt, när som helst, hur som helst. Hoppa rakt ned i en bassäng full av kunskap!</p>
                    </div>
                </div>
            {% endif %}
            <div class="articleContent">
                {%- for tag in tags -%}
                    {%- if tag != "posts" -%}
                        <span class="articleDetails">{{ tag }}</span>
                    {%- endif -%}
                {%- endfor -%}
                {% if title != "Om oss" %}
                    <h1>{{ title }}</h1>
                {% endif %}
                {% if date and author %}
                    <span class="articleDetails"><em>Senast uppdaterad: {{ date | formatDate }}</em></span>
                    <br>
                    <span class="articleDetails"><em>Reporter: {{ author }}</em></span>
                {% endif %}
                {{ content }}
                {% if "posts" == tags[0] %}
                    {% include "read_more.njk" %}
                {% endif %}
            </div>
        </div>
    </main>
    {% include "footer.njk" %}
    <script src="/scripts/theme.js"></script>
    <script src="/scripts/navbar.js"></script>
    {% if title == "Vår Grafiska Profil" %}
        <script src="/scripts/slides.js"></script>
    {% endif %}
</body>
</html>